:root {
  --fg: #111;
  --muted: #666;
  --border: #ddd;
  --msb-primary: #0E51A7;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: var(--fg);
  margin: 0;
  background: #fafafa;
}


.container { max-width: 880px; margin: 2rem auto; padding: 0 1rem; }
.muted { color: var(--muted); }
.error { color: #b00020; }
/*
.brand { display: flex; align-items: center; gap: .75rem; }
*/
.brand {
    display: table;
    align-items: center;
     text-align: center !important; 
    gap: .75rem;
    margin-left: auto !important;
    margin-right: auto !important;
}
.brand .logo { height: 80px; width: auto; }
.brand h5 { text-align: center !important; margin-top: 0px;  padding-top:0px; padding-bottom:10px;  }

.search { 
  display: flex; gap: 0.1rem; margin: 1rem 0 2rem;  
  
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  line-height: 40px; 
}
.search input { 
  flex: 1; 
  padding: 0.6rem 1.75rem; 
  border: 1px solid var(--border); 
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  font-size: 16px;
  line-height: 40px;
 }

 .search button{ 
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  font-size: 16px;
  line-height: 40px; 
  border: 1px solid var(--border);
 }
.actions .print { 
 font-size: 20px;
    padding: 1.0rem 4rem;
    border: 1px solid var(--border);
    background: #ffd400;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
    margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  
}

.ticket-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 1rem; }
.ticket { 
  
    border: 1px dashed #bbb;
    border-radius: 8px;
    padding: 1rem;
    background-image: url(https://msbroadcast.events/wp-content/uploads/2025/09/ticket-bg-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 350px;
    text-align: center;

}
.ticket header {  margin-bottom: 0.75rem; padding-bottom: 0.5rem; }
.ticket .event { margin: 0; font-size: 1.05rem; color: var(--msb-primary); }
.ticket .attendee { margin: 0; font-size: 1.80rem; color: var(--fg); }
.ticket .type { margin: -0.25rem 0 0.25rem; color: var(--fg); }

.grid { display: grid; grid-template-columns: 1fr 1fr; gap: .5rem .75rem; }
.grid label { font-size: .75rem; color: var(--muted); display: block; }
.code { font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace; }

.symbols { display: flex; gap: .75rem; align-items: center; justify-content: space-between; margin-top: 12.5rem; }
.barcode{    
  margin-left: auto;
  margin-right: auto;
  }
.qr svg, .barcode svg { display: block; }
.qr svg { shape-rendering: crispEdges; }






/* Ticket Print setting ===============  */
@media print {
 body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: var(--fg);
  margin: 0px !important;
  background: #fafafa;
}


.container { max-width: 100%; margin: 0rem auto; padding: 0rem; }
.muted { color: var(--muted); }
.error { color: #b00020; }
/*
.brand { display: flex; align-items: center; gap: .75rem; }
*/



.ticket-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 1rem; }
.ticket { 
  
    border: 1px dashed #bbb;
    border-radius: 8px;
    padding: 1rem;
    background-image: url(https://msbroadcast.events/wp-content/uploads/2025/09/ticket-bg-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 1050px;
    text-align: center;

}
.ticket header {  margin-bottom: 0.75rem; padding-bottom: 0.5rem; }
.ticket .event { margin: 0; font-size: 1.05rem; color: var(--msb-primary); }
.ticket .attendee { margin: 0; font-size: 3.80rem; color: var(--fg); }
.ticket .type { margin: 0.25rem 0 0.25rem; color: var(--fg); }

.grid { display: grid; grid-template-columns: 1fr 1fr; gap: .5rem .75rem; }
.grid label { font-size: .75rem; color: var(--muted); display: block; }
.code { font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace; }

.symbols { display: flex; gap: .75rem; align-items: center; justify-content: space-between; margin-top: 42.0rem; }
.barcode{    
  margin-left: auto;
  margin-right: auto;
  }
.qr svg, .barcode svg { display: block; width: 400px; height: 188px; }
.qr svg { shape-rendering: crispEdges; }
  /* 
  
   body { background: white; }
  .search, .actions, .brand { display: none !important; }
  .container 
  { 
    max-width: none; margin: 0; padding: 0; 
  }
  .ticket-list 
  { 
    grid-template-columns: 1fr; gap: .2rem; 
  }
  .ticket 
  { 
    border: none; border-bottom: 1px dashed #000; border-radius: 0;  padding: .4rem .6rem;  page-break-inside: avoid; 
  }
  .ticket header { border: none; margin: 0 0 .2rem; padding: 0; }
  
  
  Thermal preset (uncomment as needed) */
  /* @page { size: 80mm auto; margin: 4mm; } */
  /* @page { size: 58mm auto; margin: 3mm; } */
}
